button {
	font-size: 20px;
	padding: 20px;
	margin: 10px;
}

.zoom button {
	border-radius: 25%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

button:hover {
	background-color: #95d6ec;
	color: white;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 5px;
	width: 20px;
}

